<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Read Spring property -->
    <springProperty scope="context" name="APP_NAME" source="spring.application.name"/>

    <!-- Custom log pattern -->
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [traceId=%X{TRACE_ID}] ${APP_NAME} %logger{36} - %msg%n"/>

    <!-- Console appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>


    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>